*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Harry P';
  src: url('../foto/HARRYP.TTF') format('truetype');
}

body{
  font-family: Arial, sans-serif;
  color:black;
}

h1{
  font-family: 'Harry P', sans-serif;
}

html, body{width: 100%; height: 100%;}
/* toglie i margini di default che vanno rimossi */

.img-ress{width: 100%; height: auto;}

.fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.container{
  width: 100%;
  height: 100%;
  padding: 0; 
  margin: 0;
}

.cover{position:relative;}

.cover__content{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cover__content h1,h2,p{
  color:black;
}

/* immagine dei link in alto sotto al titolo e non su tutto lo schermo */
.img-ress{
  width: 100%;
  height: auto;
  display: block;
  margin-top: 100px;
}

/* menu immagini che scorrono: */
.main-carousel {
  margin: 40px auto;
  height: 600px;
  position: relative;
  overflow: hidden;
  bottom: 0;
}


.carousel-cell {
  width: 80%;
  max-width: 60000000000000000000000000000000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.001 ease; /* Smooth zoom effect */
}


.carousel-cell img{
  width: 200px;
  height: 300px;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 10px;
}

.boh{
  width: 200px;
  height: 300px;
}

/* per tasti home */
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: rgb(32, 37, 83);
  padding: 15px 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* z-index:Questo garantisce che la barra con il link resti sopra a tutte le immagini e contenuti sotto, anche se questi scorrono. */

.bottone{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.contenuto_pagina{
  padding-top: 80px;
  text-align: center;
}

/* resetta il padding degli elementi applicando il padding degli elemnti all'interno degli elemneti e non all'esterno, così gli elementi non si sovrapoongono */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}  
