*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html, body{width: 100%; height: 100%;}
/* toglie i margini di default che vanno rimossi */

.img-ress{width: 100%; height: auto;}

.fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.container{
  width: 100%;
  height: 100%;
  padding: 0; 
  margin: 0;
}

.cover{position:relative;}

.cover__content{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cover__content h1,h2,p{
  color:white;
  margin:0;
}

/* immagine dei link in alto sotto al titolo e non su tutto lo schermo */
.img-ress{
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}

/* menu immagini che scorrono: */
.main-carousel{
  margin: 40px auto;
  width: 100%;
  max-width: 100%;
}

.carousel-cell{
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-cell img{
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 10px;
  display: block;
}