*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.header{
  top:0;
  left:0;
  width: 100%;
  padding: 15px 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header a{
  font-family: 'Harry P', sans-serif;
  font-size: 2em;
  color: yellow;
}

.bottone{
  color: yellow;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.pagina {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pagina::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); 
  z-index: 2; 
  pointer-events: none;
}

.img-ress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}



.contenuto_pagina{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 20px;
  z-index: 2; 
  text-align: center;
}

.contenuto_pagina h1{
   font-family: 'Harry P', sans-serif;
   font-size: 3em;
   color: yellow;
}

.trama{
  margin: 40px auto; 
  padding: 0 20px;
}

.trama h2{
  font-family: 'Harry P', sans-serif;
  font-size: 2em;
  color: yellow;
}

.contenuto_trama{
  font-size: 1.41em;
  font-family: 'Harry P', sans-serif;
  display: flex;
  align-items: stretch; 
  gap: 20px;               
  margin-top: 20px;
}

.img-trama{
  width: 500px;
  height: 341px;
  object-fit: cover;
}

.testo{
    flex:1;
    height: 100%;
    font-size: 1.0em;
    text-align: left;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trailer {
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.trailer h2 {
    font-family: 'Harry P', sans-serif;
    font-size: 2em;
    color: yellow;
    margin-bottom: 20px;
}

.contenitore_trailer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personaggi{
    margin: 40px auto; 
    padding: 0 20px;
}

.personaggi h2{
  font-family: 'Harry P', sans-serif;
  font-size: 2em;
  color: yellow;
}

@font-face {
  font-family: 'Harry P';
  src: url('../foto/HARRYP.TTF') format('truetype');
}

body {
  font-family: 'Harry P', Arial, sans-serif;
  color: yellow;
  width: 100%;
  height: 100%;
  background-color: black;
}
.harry_actor {
  width: 330px;
  height: 500px;
  object-fit: cover;
}
.sizeimmagini {
  width: 292px;
  height: 371px;
  transition: transform 0.3s ease; /* Transizione per ingrandire l'immagine */
}

.sizeimmagini:hover {
  transform: scale(1.1); /* Ingrandisce l'immagine al 110% */
}
.contenuto_personaggi {
  display: flex;
  justify-content: space-around; /* Allinea le immagini orizzontalmente */
  gap: 20px;
}

.sizeimmagini {
  width: 292px;
  height: 371px;
  transition: transform 0.3s ease; /* Transizione per ingrandire l'immagine */
}